::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #c3c3c3;
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #c3c3c3;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #c3c3c3;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #c3c3c3;
}

.contain {
	width: 400px;
	border-radius: 20px;
	background: #CEE7ED;
	margin-left: 57%;
	margin-top: 180px;
	position: absolute;
}

.contain .register {
	width: 100%;
	height: 100%;
	margin: 30px 0;
}

.contain .register .title {
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 30px;
}

.contain .register {
	margin-left: 25px;
	margin-top: 30px;
	width: 350px;
}

.contain .register input {
	height: 56px;
	outline: none;
	border: 0;
	text-indent: 1em;
	font-size: 16px;
}

.contain .register .inp {
	width: 350px;
}

.contain .register .code {
	width: 200px;
	margin-right: 4px;
	float: left;
}

.contain .register .codebtn {
	width: calc(100% - 208px);
	text-align: center;
	text-indent: 0;
	transition: all 0.15s;
}
.codebtnDefault{
	cursor: default;
	background: #C1C1C1;
	color: #fff;
}
.codebtnActive{
	background: #fff;
	color: #FE9515;
	cursor: pointer; 
}


.codebtnHover {
	cursor: pointer;
	background: #FE9515;
	color: #fff;
}

.contain .submit {
	background: #FE9515;
	color: #fff;
	transition: all 0.15s;
	cursor: pointer;
}

.contain .submit:hover {
	filter: brightness(85%);
}

.dataDiv-text,
.phone-text,
.password-text,
.repassword-text,
.code-text {
	width: 400px;
	height: 30px;
	color: red;
	float: left;
	top: 5px;
	line-height: 30px;
	position: relative;
}

.waining,
.ok {
	width: 22px;
	height: 20px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	line-height: 30px;
	background-image: url(../../img/account/warning.png);
}

#account-text-w {
	width: 400px;
	margin-left: 30px;
	color: red;
	top: 5px;
	line-height: 20px;
	height: 20px;
}