<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flc.dao.CampusinfoDao">
	<select id="getAllWdgw_campusinfo" resultType="com.flc.entity.Campusinfo">
		SELECT
 		 CAMPUSINFO_ID,
 		 ADDRESS,
 		 ADVISORYTELEPHONE,
 		 VERSIONNUMBER,
 		 REMARKS,
 		 CREATETIME,
 		 CREATEUSER
		FROM wdgw_campusinfo
		order by CREATETIME desc
		limit 0,1
	</select>
</mapper>