.section .container .section-module .title-school {
	background: url(../../img/index/school-title.png) no-repeat center center;
	background-size: 100% 100%;
}

.section .container .section-module .title-company {
	background: url(../../img/index/company-title.png) no-repeat center center;
	background-size: 100% 100%;
}

.section .container .section-module .module-detail-school li,
.section .container .section-module .module-detail-company li {
	cursor:pointer;
	width: 230px;
	height: 160px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 60%;
	border-radius: 2px;
	transition:background-color 0.2s;
}
.section .container .section-module .module-detail-company li{
	float:left;
}

.section .container .section-module .module-detail-school li:hover,
.section .container .section-module .module-detail-company li:hover {
	filter:brightness(85%);
}

.section .container .section-module .module-detail-company {
	overflow:hidden;
}